alembic
aniso8601
certifi
charset-normalizer
click
colorama
Flask
Flask-Login
Flask-RESTful
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
Werkzeug
WTForms
zipp
